body{
    background: linear-gradient(270deg, rgba(113, 79, 207, 0.46) 0%, #00255B 102.21%);
}


.hero {
    text-align: center;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #80B5DC 0%, rgba(113, 79, 207, 0.64) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero:nth-child(2){
    background: linear-gradient(90deg, #80B5DC 0%, rgba(190, 184, 207, 0.96) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Montserrat;
font-size: 2.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
