@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "IBM Plex Sans", system-ui, sans-serif;
  --color-primary-bg: rgba(104, 31, 62, 1);
  --color-ncl-blue: rgba(0, 57, 101);
  --color-ncl-red: rgba(221, 25, 54);
}

body {
  @apply font-sans font-normal;
}
